html{background-color:blanchedalmond;}
h1{color:rgb(0, 17, 255)}
h2{color:rgb(60, 219, 39)}
*{text-align: center;}
#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    object-fit: cover; 
}
.flag{
    background-color: black;
    width: 500px;
    height: 300px;
    position: relative;
    left: 38%;
}

.flag>div{
    background-color: red;
    position: absolute;
    height: 100px;
    width: 100%;
    top: 100px;
}
.flag>div div{background-color: gold;
    position: absolute;
    height: 100px;
    width: 100%;
    top: 100px;
}

