html{background-color:blanchedalmond;}
h1{color:red}
h2{color:rgb(60, 219, 39)}
*{text-align: center;}
#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    object-fit: cover; 
}