html{background-color:blanchedalmond;}
h1{
    color:rgb(0, 17, 255);
    font-size: 3rem; 
}

h2{
    color:rgb(60, 219, 39);
    font-size: 2rem;
}
*{text-align: center;}
#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    object-fit: cover;
}

.container{
    position: relative;
    top: 250px;
    left:25%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
}

a{color: rgb(255, 255, 255);}

.left{
    background-color: rgb(84, 77, 150);
    margin-right: 10px;
}

.right{
    background-color: rgb(43, 180, 204);
    margin-left: 10px;}