html{
    background-color: bisque;
}
.container{
    display: grid;
    grid-template-columns: 450px auto;
}

.SideBar{
    border-right: 10px rgb(233, 159, 47) solid;
    margin:10px;
}

.content{
    margin:10px;
    border-left: 10px rgb(175, 112, 112) solid;
}

.first{
    font-size: 2rem;

}

li{
    font-size: 1.6rem;
}

h1{
    text-align: center;
    font-size: 4rem;
    color: blueviolet;
}

.LiContent{
    font-size: 2rem;
    
}

img{
    width:800px;
    display:block;
    padding: 10px;
    margin-right: auto;
    margin-left:auto;
    text-align: center;
}
