html{
    background-color: rgb(224, 211, 137);
}
.SideBar{
    border-right: 10px rgb(75, 118, 209) dashed;
    margin:10px;
    color: blueviolet;
    font-size: 2rem;
}
.container{
    display: grid;
    grid-template-columns: 500px auto;
}
.content{
    margin:10px;
    border-left: 10px rgb(60, 147, 153) dashed;
}
h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 100px;
}
p{
    font-size: 1.5rem;
    margin-left: 20px;
}